/* For singers.html */
.title-singers {
	font-family: 'Poppins';
	font-size: 35px;
	padding-top: 25px;
	text-align: center;
}
.icon {
	width: 300px;
	border-radius: 150px;
	object-fit: cover;
	box-shadow: grey 3px 3px 5px;
	
}
.gallery{
	display: grid;
	width: 80%;
	margin: 50px auto;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}

.gallery .group {
	display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.gallery .artist {
	text-align: center;
	padding: 20px;
	font-family: 'Poppins';
}

.exit {
	font-family: 'Poppins';
	text-align: center;
	padding-top: 25px;
	color: black;
}
.exit a:visited {
	color: black;
}


/* For songs.html */
.title-songs {
	font-family: 'Poppins';
	font-size: 35px;
	padding-top: 25px;
	text-align: center;
}

.gallery2{
	display: grid;
	width: 80%;
	margin: 50px auto;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}

.gallery2 .group-songs {
	position: relative; 
	display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.gallery2 .icon-link {
	text-decoration: none;
	display: block;
	width: 100%;
}

.gallery2 .icon-songs {
	width: 100%;
    height: auto; 
    object-fit: cover; 
    vertical-align: top; 
	box-shadow: gray 2px 2px 3px;
    border-radius: 5px;
	
}

.gallery2 .song-title {
	text-align: center;
	padding: 20px;
	font-family: 'Poppins';
}
